body{
    background-color: whitesmoke;
}
.para{
    font-size:30px;

}
.user{
    background:white;
}
.user{
    width:400px;
    height: 400px;
    box-shadow:0 1px 20px 0 rgba(0,0,0,0.1);
    padding:50px 20px;
    border-radius:7px;
    
}
.user-id input {
    width:100%;
    padding:10px 20px;
    outline: none;
    text-align: left;
    border:1px solid rgb(189, 189, 189);
    border-radius:7px;
 
    
}

.user-id input[type="submit"]{
    background-color: rgb(71, 112, 226);
    text-align:center;
    color:white;
    font-weight:700;
    border:none;
}
.user-id input[type="button" class="btn"]{
    width:180px;
    border:none;
    text-align: center;
    outline:none;
   
}
.user-data{
    text-align: center;
}
.user-data1{
    margin-top:10px;
    text-align:center;
}
.creation{
    width:190px;
    margin-left:80px;
    
}
.footer{
    position: absolute;
    top:565px;

}